<footer class="bg-gray-100 shadow text-center text-sm p-4 mt-8" style="background-color: #f4ecbc;" role="contentinfo">
  <address style="color: #000000;">
    <strong>Quotes HQ</strong><br />
    123 Thought Lane, Imaginaria<br />
    Email: <a href="mailto:support@quoteapp.com" class="underline focus:outline-none focus:ring-2 focus:ring-black">support@quoteapp.com</a><br />
    Phone: <a href="tel:+1234567890" class="underline focus:outline-none focus:ring-2 focus:ring-black">+1 (234) 567-890</a>
  </address>
  <p style="color: #000000;">© <%= new Date().getFullYear() %> QuoteApp. All rights reserved.</p>
</footer>