<nav class="bg-white shadow-md p-4 flex justify-between items-center" style="background-color: #f4ecbc;" role="navigation" aria-label="Main navigation">
  <a href="/" class="text-xl font-bold text-black focus:outline-none focus:ring-2 focus:ring-black" style="color: #000000;">Quotes</a>
  <ul class="flex space-x-4 font-semibold text-black" role="list">
    <li>
      <a href="/" class="hover:underline focus:outline-none focus:ring-2 focus:ring-black ">Home</a>
    </li>
    <li>
      <a href="/about" class="hover:underline focus:outline-none focus:ring-2 focus:ring-black">About</a>
    </li>
    <li>
      <a href="/contact" class="hover:underline focus:outline-none focus:ring-2 focus:ring-black">Contact</a>
    </li>
  </ul>
</nav>
