<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Quotes</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body style="background-color: #f4ecbc;">
  <%- include('components/navbar') %>
    <h1>Hi</h1>
  <%- include('components/footer') %>
</body>
</html>